//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 18 15:54:03 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "clr" LOCATE = SITE "C9" LEVEL 1;
COMP "soundBass" LOCATE = SITE "G11" LEVEL 1;
COMP "soundMelody" LOCATE = SITE "F11" LEVEL 1;
SCHEMATIC END;

