//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 06 14:45:29 2014
//! **************************************************************************

SCHEMATIC START;
COMP "data" LOCATE = SITE "T12" LEVEL 1;
COMP "latch" LOCATE = SITE "V12" LEVEL 1;
COMP "pulse" LOCATE = SITE "N10" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "controller_data<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "controller_data<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "reset" LOCATE = SITE "C4" LEVEL 1;
COMP "controller_data<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "controller_data<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "controller_data<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "controller_data<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "controller_data<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "controller_data<7>" LOCATE = SITE "T11" LEVEL 1;
SCHEMATIC END;

